<!-- <input type="text" [(ngModel)]="imgParet" />
<button (click)="handleDeleteImage()">Toogke image</button>
<p>{{ showImage }}</p>
<app-img
  *ngIf="showImage"
  [img]="imgParet"
  (imgLoaded)="handleEscuchaSon($event)"
></app-img> -->

<!-- <app-listproducts></app-listproducts> -->

<!-- <p>
  <input type="file" (change)="onUpload($event)" />
  <img [src]="imgRta" alt="" width="200" *ngIf="imgRta" />
</p>

<a href="/src//assets//text.txt" download="">Descargar</a>
<div *ngIf="profile">
  <div>email:{{ profile.email }}</div>
</div>
<p>
  <button (click)="handleDowloadPdf()">Descargar un pdf</button>
</p>
<button (click)="creteUser()">Createuser</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Get profile</button>
<app-listproducts></app-listproducts> -->

<div *ngIf="profile">
  <div>
    email: <a routerLink="/profile">{{ profile.email }}</a>
  </div>
  <div>
    <button (click)="handleLogOut()">logout</button>
  </div>
</div>
<p>
  <button (click)="handleDowloadPdf()">Descargar un pdf</button>
</p>
<button (click)="creteUser()">Createuser</button>
<button (click)="login()">Login</button>
<button (click)="getProfile()">Get profile</button>

<router-outlet></router-outlet>
